.dropzone{border:0 !important;}

.dz-clickable{
background-image: url('../images/upload.png') !important;
background-repeat: no-repeat !important;
background-position: center center !important;
background-color: #fff !important;
}

.hidden-text{
display:block;
}